[class^="spoilerContainer-"] {
  width: 100%;
}
.ECBlock-file {
  width: 100%;
  display: flex;
}
.ECBlock {
  background: var(--background-secondary-alt);
  border: 1px solid var(--background-tertiary);
  border-radius: 3px;
  overflow: hidden;
  color: var(--text-muted);
  text-size-adjust: none;
  line-height: 1rem;
}
.ECBlock.ECBlock-wrap .ECBlock-table tr > :last-child {
  white-space: pre-wrap;
}
.ECBlock.ECBlock-error {
  padding: 8px;
  background: var(--background-message-automod);
}
.ECBlock.ECBlock-error pre {
  max-width: 100%;
}
.ECBlock .react-error {
  margin-bottom: 8px;
}
.ECBlock-numberSetting {
  transform: translateY(-5px);
  display: flex;
}
.ECBlock-numberSetting [class*="value-"] {
  width: 120px;
}
.ECBlock-file .ECBlock {
  /* so they wont be small */
  width: 100vw;
}
.ECBlock.ECBlock-loading .ECBlock-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ECBlock .ECBlock-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--background-tertiary);
  align-items: center;
  color: var(--text-normal);
} 
.ECBlock .ECBlock-title {
  display: flex;
  align-items: center;
  margin-right: 16px;
} 
.ECBlock .ECBlock-title > :not(:last-child) {
  margin-right: 8px;
} 
.ECBlock .ECBlock-lang {
  cursor: pointer;
} 
.ECBlock .ECBlock-byteSize {
  font-size: small;
  color: var(--text-muted);
} 
.ECBlock .ECBlock-collapse {
  cursor: pointer;
  display: flex;
} 
.ECBlock .ECBlock-enlarge {
  width: 22px;
  justify-content: center;
} 
.ECBlock-collapsed .ECBlock-header {
  border-bottom: 0 solid var(--background-tertiary);
} 
.ECBlock .ECBlock-actions {
  display: flex;
} 
.ECBlock .ECBlock-actions > :not(:last-child) {
  margin-right: 8px;
} 
.ECBlock .ECBlock-actions > .ECBlock-remove:hover {
  color: var(--status-danger);
} 
.ECBlock .ECBlock-actions > div {
  cursor: pointer;
  color: var(--interactive-normal);  
  display: flex;
  align-items: center;
} 
.ECBlock.ECBlock-loading .ECBlock-actions > div {
  color: var(--interactive-muted);
  cursor: not-allowed;
} 
.ECBlock .ECBlock-actions > div:hover {
  color: var(--interactive-hover);  
}
.ECBlock .ECBlock-actions > div:active,
.ECBlock .ECBlock-actions .ECBlock-active {
  color: var(--interactive-active);  
}
.ECBlock .ECBlock-actions > div.ECBlock-copied {
  color: var(--status-positive);
}
.ECBlock .ECBlock-wrapper {
  overflow: auto scroll;
}
.ECBlock .ECBlock-table {
  font-size: 0.9em;
  font-family: var(--font-code);
}
.ECBlock .ECBlock-table tr > :first-child {
  padding: 0 8px;
  border-right: 1px solid var(--background-tertiary);
  user-select: none;
  text-align: center;
  position: sticky;
  left: 0;
  background: var(--background-secondary-alt);
}
.ECBlock .ECBlock-table tr > :last-child {
  padding: 0 8px;
  white-space: pre;
  user-select: text;
  width: 100%;
}
.ECBlock-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ECBlock-overflow {
  position: fixed;
  right: 12px;
  top: 12px;
  display: flex;
  color: var(--interactive-normal);
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}
.ECBlock-overflow:hover {
  color: var(--interactive-hover);  
  background: var(--background-modifier-hover);
}
.ECBlock-overflow:active {
  color: var(--interactive-active);  
  background: var(--background-modifier-active);
}
.ECBlock-overflow.ECBlock-selected {
  color: var(--interactive-active);  
  background: var(--background-modifier-selected);
}
.ECBlock-zIndex-hook {
  z-index: 1;
}